@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Open Sans';
    src: url(./assets/fonts/opensans-light.eot);
    src:
      local('Open Sans Light'),
      local('OpenSans-Light'),
      url(./assets/fonts/opensans-light.eot?#iefix) format('embedded-opentype'),
      url(./assets/fonts/opensans-light.woff2) format('woff2'),
      url(./assets/fonts/opensans-light.woff) format('woff'),
      url(./assets/fonts/opensans-light.ttf) format('truetype'),
      url(./assets/fonts/opensans-light.svg#OpenSans-Light) format('svg');
    font-style: normal;
    font-weight: 300;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url(./assets/fonts/opensans-semibold.eot);
    src:
      local('Open Sans SemiBold'),
      local('OpenSans-SemiBold'),
      url(./assets/fonts/opensans-semibold.eot?#iefix) format('embedded-opentype'),
      url(./assets/fonts/opensans-semibold.woff2) format('woff2'),
      url(./assets/fonts/opensans-semibold.woff) format('woff'),
      url(./assets/fonts/opensans-semibold.ttf) format('truetype'),
      url(./assets/fonts/opensans-semibold.svg#OpenSans-SemiBold) format('svg');
    font-style: normal;
    font-weight: 600;
  }
}

@layer components {
  h1 {
    /* maybe use 3xl */
    @apply text-2xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  p {
    @apply text-base font-light;
    hyphens: auto;
  }

  strong {
    @apply text-base;
  }

  a {
    @apply text-base font-semibold no-underline;
  }
}

@layer base {
  ul, ol {
    list-style: revert;
    @apply pl-3;
  }
}
